@using ISP_ManagementSystemModel
@model IEnumerable<ISP_ManagementSystemModel.Models.CustomStockListSectionInformation>

<style>
    .customDTWidth {
        padding: 0px;
    }

    input,
    select,
    textarea {
        max-width: 100%;
    }

    .btn-sm {
        padding: 3px 6px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    string Date = AppUtils.GetDateTimeNow().ToString("yyyy-MMM");

    @Html.AntiForgeryToken()

    <div class="panel panel-default" hidden>
        <div class="panel-heading" style="height:45px;">
            <section class="content-header" style="padding: 5px 10px 0px 15px;">
                <h6 class="panel-title">Search By</h6>
                <ol class="breadcrumb" style="padding: 0px 5px;     top: 5px;">
                    <li class="active"><a href="/Stock/AddStock"><i class="fa fa-dashboard"></i> Add Item</a></li>
                </ol>
            </section>
        </div>

        <div class="panel-body">
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-7">
                    @Html.Label("Item Name", null, new { @class = "control-label col-md-2", Style = "float:left" })
                    <div class="col-md-7" style="padding-left: 0px; float: left">
                        @Html.DropDownList("StockID", null, "-- Select Item --", new { @class = "form-control input-sm col-sm-11", @placeholder = " Select Item  " })
                    </div>
                    <div class="col-md-2" style="padding-left: 0px; float: left; margin-left: 20px;">
                        <input type="button" id="btnSearchItem" class="btn btn-sm btn-primary" value="Search" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group col-sm-4">
                    <div id="ShowCountLabel" class="col-md-4" style="padding-left: 0px;" hidden="">
                        @Html.Label("Total Item", new { @class = "control-label col-md-0", Style = "float:left" })
                    </div>
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div id="TotalItem"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="float: right; padding-bottom:0px; margin-top: 30px; margin-right: 15px;">
            <input type="button" id="btnExportExcel" class="btn btn-sm btn-primary  btn-sm" value="Export Excel">
            <!-- export xl file -->
            @*<a class="btn btn-sm btn-primary" href="#">Export Excel</a>*@
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom: 0px">
        <div class="panel-heading">
            <h4 class="panel-title">Warrenty Product Summary List</h4> @*@Date*@

        </div>

        <div class="panel-body" style="overflow:auto">
            <table id="tblTotalList" class="table table-bordered table-hover table-responsive table-striped" style="align-content: center; width: 100%">
                <thead>
                    <tr>
                        <th style="padding:0px;" hidden="hidden"></th>
                        <th style="padding:10px;">Item Name</th>
                        <th> Total </th>
                        <th> Stock  </th>
                        <th> Running </th>
                        <th> Dead </th>
                        <th> Repair </th>
                        <th> Warrenty </th>

                        @*<th style="text-align: center; width: 5%">Action</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>



}

<script src="~/Scripts/CustomScripts/ProductCurrentStatusManager.js"></script>
<script>

    var StockDetailsID;
    var SectionID;
    var ProductStatusID;
    var tblName = "tblTotalList";

    $(document).ready(function () {



        var table = $("#tblTotalList").DataTable
            ({
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "processing": true,
                "serverSide": true,


                "ajax":
                {
                    "url": "/ProductCurrentStatus/CustomStockTotalListTotalItemListOverview",
                    "type": "POST",
                    "dataType": "JSON",
                    data: function (d) {
                        d.StockID = $("#StockID").val();
                        d.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
                    }
                },
                //https://stackoverflow.com/questions/11256864/jquery-datatables-actionlink-how-to-add
                "columnDefs": [

                    //{ "width": "5%", "targets": [6] },
                    { "targets": [0], "data": "StockID", "render": function (data, type, row, meta) { return '<td hidden><input type="hidden" id="StockID" name="StockDetailsID" value=' + row.StockID + ' /></td>' } },

                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //console.log(nRow);
                    $(nRow).find("td:eq(0)").attr("hidden", true);

                    return nRow;
                },

                "columns": [
                    {
                        "data": ""
                    },
                    {
                        "data": "ItemName"
                    },
                    {
                        "data": "TotalItemCount"
                    },
                    {
                        "data": "ProductInStock"
                    },
                    {
                        "data": "ProductInRunning"
                    },
                    {
                        "data": "ProductInDead"
                    },
                    {
                        "data": "ProductInRepair"
                    },
                    {
                        "data": "ProductInWarrenty"
                    }
                ]
            });


        $("#btnSearchItem").click(function () {

            if (ProductCurrentStatusManager.ValidationOnlySearch() === true) {
                //var StockID = $("#StockID").val();
                //ProductCurrentStatusManager.SearchStockDetailsListByStockIDForTotal(StockID);
                table.draw();
            }

        });


        $("#btnExportExcel").click(function () {
            ProductCurrentStatusManager.PrintProductListOverView();
        });
    });

</script>




