
@{
    ViewBag.Title = "ChangeCredentials";
}
<script src="~/Scripts/CustomScripts/ClientDetailsManager.js"></script>
<style>
    .required_field {
        color: red;
    }

    input,
    select,
    textarea {
        max-width: 100%;
    }

    .panel-heading {
        height: 43px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#txtLoginName").change(function () {
            var loginName = $("#txtLoginName").val();
            ClientDetailsManager.ClientLoginExistOrNot(loginName);
        });
        $("#btnUpdate").click(function () {
            ClientDetailsManager.UpdateLoginNameIfGivenAndPassword();
        });

    });
    
</script>

@Html.AntiForgeryToken()

<div class="container" id="main-container" style="padding-left: 0px; padding-top:0%">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">All Client</h4>
        </div>

        <div class="panel-body"> 
            <div class="form-group col-sm-7">
                <div>
                    @Html.Label("Old Password", new { @class = "control-label col-md-0", Style = "float:left" })
                  @*  <span class="required_field col-md-0" style="padding-left:5px"> *</span>*@
                </div>
                <div style="clear:both"> </div>
                <div class="col-md-11" style="padding-left: 0px;">
                    @Html.TextBox("txtOldPassword", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Old Password " })
                </div>
            </div>
            <div class="form-group col-sm-7">
                <div>
                    @Html.Label("New Password", new { @class = "control-label col-md-0", Style = "float:left" })
                    @*  <span class="required_field col-md-0" style="padding-left:5px"> *</span>*@
                </div>
                <div style="clear:both"> </div>
                <div class="col-md-11" style="padding-left: 0px;">
                    @Html.TextBox("txtNewFirstPassword", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " New Password " })
                </div>
            </div>
            <div class="form-group col-sm-7">
                <div>
                    @Html.Label("New Password", new { @class = "control-label col-md-0", Style = "float:left" })
                   @* <span class="required_field col-md-0" style="padding-left:5px"> *</span>*@
                </div>
                <div style="clear:both"> </div>
                <div class="col-md-11" style="padding-left: 0px;">
                    @Html.TextBox("txtNewSecondPassword",null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Confirm Password " })
                </div>
            </div>
        </div>
        <div style="margin-left: 30px;"> <input type="button" id="btnUpdate" value="Update" class="btn btn-primary btn-md" /></div>
    </div>

</div>

