<div>
    <div class="form-group col-sm-6">
        <div>
            @Html.Label("Name", null, new { @class = "control-label col-md-0", Style = "float:left" })
            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
        </div>
        <div style="clear:both"> </div>
        <div class="col-md-11" style="padding-left: 0px;">
            @Html.TextBox("CompanyName", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Name " })
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div>
            @Html.Label("Email", new { @class = "control-label col-md-0", Style = "float:left" })
            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
        </div>
        <div style="clear:both"> </div>
        <div class="col-md-11" style="padding-left: 0px;">
            @Html.TextBox("CompanyEmail", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Email " })
        </div>
    </div>


    <div class="form-group col-sm-6">
        <div>
            @Html.Label("Address", new { @class = "control-label col-md-0", Style = "float:left" })
            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
        </div>
        <div style="clear:both"> </div>
        <div class="col-md-11" style="padding-left: 0px;">
            @Html.TextBox("CompanyAddress", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Address" })
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div>
            @Html.Label("Contact Person", new { @class = "control-label col-md-0", Style = "float:left" })
            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
        </div>
        <div style="clear:both"> </div>
        <div class="col-md-11" style="padding-left: 0px;">
            @Html.TextBox("ContactPerson", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Contact Person " })
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div>
            @Html.Label("Phone", new { @class = "control-label col-md-0", Style = "float:left" })
            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
        </div>
        <div style="clear:both"> </div>
        <div class="col-md-11" style="padding-left: 0px;">
            @Html.TextBox("Phone", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Contact Number " })
        </div>
    </div>
    <div class="form-group col-sm-6">
        <img id="PreviewCompanyCreateImage" src="" width="100" height="90">
        <label>
             Company Logo
            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
        </label>
        <p>
            <div class="col-sm-9" style="padding-left:0px;">
                <input accept="image/*" class="" id="CompanyCreateImage" name="CompanyCreateImage" type="file" onchange="ImageManager.preview(this,'PreviewCompanyCreateImage')">
            </div>
            <div class="col-sm-3">
                <button type="button" class="close" aria-label="Close" onclick="ImageManager.RemoveContent($('#CompanyCreateImage'),'CompanyCreateImage')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </p>
        <span id="spnfileTxt" class="text-danger" style="display: none;"></span>
    </div>



</div>

