<div class="form-group col-sm-12">
    <div>
        @Html.Label("Pool Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("PoolNames", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Pool Name " })
        </div>
    </div>
    <div>
        @Html.Label("Start Range", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("StartRanges", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Start Range " })
        </div>
    </div>
    <div>
        @Html.Label("End Range", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("EndRanges", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " End Range " })
        </div>
    </div>
   
</div>

