




@Html.Hidden("SupplierID")

<div class="form-group col-sm-12">
    <div>
        @Html.Label("Supplier Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("SupplierNames", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Supplier Name " })
        </div>
    </div>
    <div>
        @Html.Label("Supplier Address", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("SupplierAddresss", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Supplier Addresss " })
        </div>
    </div>
    <div>
        @Html.Label("Supplier Contact", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("SupplierContacts", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Supplier Addresss " })
        </div>
    </div>
</div>

