
<div class="form-group col-sm-12">
    <div>
        @Html.Label("Package Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("PackageNames", null, new {@disabled = "disabled", @class = "form-control input-sm col-sm-11", @placeholder = " Package Name " })
        </div>
    </div>
</div>

<div class="form-group col-sm-12">
    <div>
        @Html.Label("Admin Price", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("AdminPrice", null, new {@disabled = "disabled", @class = "form-control input-sm col-sm-11", @placeholder = " Admin Price " })
        </div>
    </div>
</div>

<div class="form-group col-sm-12">
    <div>
        @Html.Label("My Given Price", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("MyGivenPrice", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " My Given Price " })
        </div>
    </div>
</div>

