@{
    ViewBag.Title = "Vendor Type";
}

@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">

        <section class="content-header">
            <h6 class="panel-title">Vendor Type</h6>
            <ol class="breadcrumb">
                <li class="active"><a href="/Vendortype/index"><i class="fa fa-dashboard"></i> Index</a></li>

            </ol>
        </section>
    </div>
    <div class="panel-body">
        <table id="tblVendorType" class="table table-bordered table-hover table-responsive table-striped" style="align-content: center; width: 100%;">
            <thead>
                <tr>
                    <th hidden="hidden"></th>
                    <th>
                        @Html.DisplayName("Vendor Type Name")
                    </th>
                    <th>
                        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Create_Vendor_Type))
                        {
                            <a href="" style="font-weight:800;color: crimson" id="createNew">Create New</a>
                        }
                    </th>
                </tr>
            </thead>

        </table>

        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Create_Vendor_Type))
        {
            <div class="modal fade" id="mdlVendorTypeInsert" role="dialog" style="overflow: hidden; overflow-y: scroll;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg" style="width: 45%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="btnInsertClose" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert Vendor Type</h4>
                        </div>
                        <div class="modal-body panel-body">

                            <div class="form-group col-sm-12">
                                <div>
                                    @Html.Label("Vendor Type Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
                                    <div class="col-md-8" style="padding-left: 0px; float: left">
                                        @Html.TextBox("InsertVendorTypeName", null, new { @class = "form-control input-sm col-sm-11", @placeholder = "Name " })
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top: 20px;"></div>
                        </div>
                        <div class="modal-footer">
                            <div id="PopUp" style="float: right">
                                <input type="button" id="btnPopUpVendorTypeInsertClose" value="Close" class="btn btn-default btn-sm" />
                                <input type="button" id="btnInsertVendorType" value="Save" class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Update_Vendor_Type))
        {
            <div class="modal fade" id="mdlVendorTypeUpdate" role="dialog" style="overflow: hidden; overflow-y: scroll;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg" style="width: 45%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="updateModalClose" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Vendor Type</h4>
                        </div>
                        <div class="modal-body panel-body">
                            @Html.Partial("_PartialUpdateVendorType")
                        </div>
                        <div class="modal-footer">
                            <div id="PopUp" style="float: right">
                                <input type="button" id="btnPopUpVendorTypeUpdateClose" value="Close" class="btn btn-default btn-sm" />
                                <input type="button" id="btnUpdateVendorType" value="Update" class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Delete_Vendor_Type))
        {
            <div class="modal fade" id="mdlVendorTypeDelete" role="dialog" style="overflow: hidden; overflow-y: scroll;" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg" style="width: 45%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="DeleteModalClose" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Vendor Type</h4>
                        </div>
                        <div class="modal-body panel-body">
                            Are You Sure to delete? No data can be recover in future.
                        </div>
                        <div class="modal-footer">
                            <div id="PopUp" style="float: right">
                                <input type="button" id="btnPopUpVendorTypeDeleteClose" value="Close" class="btn btn-default btn-sm" />
                                <input type="button" id="btnDeleteVendorType" value="Delete" class="btn btn-danger btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/CustomScripts/VendorManager.js"></script>
<script>
    var VendorTypeID;
    var table;
    $(document).ready(function () {

        table = $("#tblVendorType").DataTable
            ({
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "processing": true,
                "serverSide": true,

                "ajax":
                {
                    "url": "/VendorType/GetAllVendorType",
                    "type": "POST",
                    "dataType": "JSON",
                    data: function (d) {
                        d.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
                    }
                },
                //https://stackoverflow.com/questions/11256864/jquery-datatables-actionlink-how-to-add
                "columnDefs": [
                    { "targets": [0], "width": "5%" },
                    { "targets": [0], "data": "VendorTypeID", "render": function (data, type, row, meta) { return "<td hidden><input type='hidden' id='VendorTypeID' name='VendorTypeID' value=" + row.VendorTypeID + "></td>" } },
                    { "targets": [2], "style": "align='center'", "orderable": false, "data": "Action", "render": function (data, type, row, meta) { return row.UpdateVendorType === true ? '<a href="" id="showVendorTypeForUpdate" class="glyphicon glyphicon-edit btn-circle btn-default"></a><a href="" id="showVendorTypeForDelete" class="glyphicon glyphicon-remove btn-circle btn-default"></a>' : "" } }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).find("td:eq(0)").attr("hidden", true);
                    return nRow;
                },

                "columns": [
                    {
                        "data": "VendorTypeID"
                    },
                    {
                        "data": "VendorTypeName"
                    },
                    {
                        "data": ""
                    }
                ]
            });


        $("#tblVendorType").on("click", "#showVendorTypeForUpdate", function (e) { 
            e.preventDefault();
            VendorTypeID = $(this).closest("tr").find("td:eq(0) input").val(); 
            VendorManager.EditVendorTypeGet(VendorTypeID);
        });

        $("#tblVendorType").on("click", "#showVendorTypeForDelete", function (e) {
            e.preventDefault();
            VendorTypeID = $(this).closest("tr").find("td:eq(0) input").val();
            $("#mdlVendorTypeDelete").modal("show");
        });

        $("#createNew").click(function (e) {
            e.preventDefault();
            $("#mdlVendorTypeInsert").modal("show");
        });

        $("#btnInsertClose").click(function (e) {
            VendorManager.clearForSaveInformation();
            $("#mdlVendorTypeInsert").modal("hide");
        });

        $("#btnPopUpVendorTypeInsertClose").click(function (e) {
            VendorManager.clearForSaveInformation();
            $("#mdlVendorTypeInsert").modal("hide");
        });

        $("#btnInsertVendorType").click(function (e) {

            if (VendorManager.CreateVerndorTypeValidation() === true) {
                VendorManager.InsertVendorType();
            }
        });

        $("#updateModalClose,#btnPopUpVendorTypeUpdateClose").click(function () {
            $("#mdlVendorTypeUpdate").modal("hide");
        });


        $("#btnUpdateVendorType").click(function () {
            VendorManager.EditVendorType();
        });

        $("#DeleteModalClose").click(function () {
            $("#mdlVendorTypeDelete").modal("hide");
        });
        $("#btnPopUpVendorTypeDeleteClose").click(function () {
            $("#mdlVendorTypeDelete").modal("hide");
        });
        $("#btnDeleteVendorType").click(function () {
            VendorManager.DeleteVendorType(VendorTypeID);
        });






    });



</script>