@using ISP_ManagementSystemModel
@model IEnumerable<ISP_ManagementSystemModel.Models.AssetType>
@{
    ViewBag.Title = "Asset Type";
}

<style>
    /*.alignCenter {
        align
    }*/

    .btn-sm {
        padding: 3px 6px;
    }
</style>

<script src="~/Scripts/CustomScripts/AssetTypeManager.js"></script>


@if (TempData["AlreadyInsert"] != null)
{
    <script>
        AppUtil.ShowSuccess('@TempData["AlreadyInsert"].ToString()');
    </script>

}
@if (TempData["SaveSucessOrFail"] != null)
{
    <script>
        AppUtil.ShowSuccess('@TempData["SaveSucessOrFail"].ToString()');
    </script>

}
@*@if (TempData["UpdateSucessOrFail"] != null)
    {
        <script>
            AppUtil.ShowSuccess('@TempData["UpdateSucessOrFail"].ToString()');
        </script>

    }*@
<script>

        var AssetTypeID;
        $(document).ready(function () {
            //$('#tblAssetType').dataTable({
            //    "lengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
            //    "scrollX": true,
            //    "stateSave": false,
            //    dom: 'Bfrtip',
            //    buttons:
            //    [
            //        'pageLength',

            //        {
            //            extend: 'excelHtml5',
            //            title: 'AssetType List',
            //            exportOptions: { columns: [ 1] }
            //        }


            //    ]
            //});

            $("#tblAssetType").on("click", "#showAssetTypeForUpdate", function (e) {
                  
                e.preventDefault();
                AssetTypeID = $(this).closest("tr").find("td:eq(0) input").val();
                  
                AssetTypeManager.ShowAssetTypeDetailsByIDForUpdate(AssetTypeID);
            });

            $("#createNew").click(function (e) {
                  
                e.preventDefault();
                $("#mdlAssetTypeInsert").modal("show");
            });

            $("#btnInsertAssetType").click(function (e) {
                  
                if (AssetTypeManager.CreateValidation() === true) {
                      
                    AssetTypeManager.InsertAssetTypeFromPopUp();
                }
            });

            $("#btnUpdateAssetType").click(function () {
                  
                if (AssetTypeManager.UpdateValidation() === true) {
                      
                    AssetTypeManager.UpdatePackageInformation();
                }
            });

            $("#btnPopUpAssetTypeInsertClose").click(function (e) {
                AssetTypeManager.clearForSaveInformation();
                $("#mdlAssetTypeInsert").modal("hide");
            });

            $("#btnPopUpAssetTypeUpdateClose").click(function () {
                AssetTypeID = "";
                AssetTypeManager.clearForUpdateInformation();
                $("#mdlAssetTypeUpdate").modal("hide");
            });
            $('#btnInsertAssetTypeModalClose').click(function () {
                AssetTypeManager.clearForSaveInformation();
            });
            $('#btnUpdateAssetTypeModalClose').click(function () {
                AssetTypeManager.clearForUpdateInformation();
            });

            $("#tblAssetType").DataTable();

            $("#btnExportExcel").click(function () {
                AssetTypeManager.PrintAssetTypeList();
            });

        });


</script>

@Html.AntiForgeryToken()

<div class="panel panel-default" style="margin-bottom: 0px">
    <div class="panel-heading">
        <section class="content-header">
            <h6 class="panel-title">All AssetType List</h6>
            <ol class="breadcrumb">
                <li class="active"><a href="/AssetType/Index"><i class="fa fa-dashboard"></i> AssetType List</a></li>

            </ol>
        </section>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {

            <div style="float: right; padding-bottom:0px;">
                <input type="button" id="btnExportExcel" class="btn btn-sm btn-primary" value="Export Excel">
                <!-- export xl file -->
                @*<a class="btn btn-sm btn-primary" href="#">Export Excel</a>*@
            </div>
            <table id="tblAssetType" class="table table-bordered table-hover table-responsive table-condensed display nowrap" style="width: 100%;">
                @*<table id="tblAssetType" class="table table-striped table-bordered table-responsive">*@
                <thead>
                    <tr>
                        <th hidden="hidden"></th>
                        <th>
                            @Html.DisplayName("AssetType Name")
                        </th>
                        <th>
                            @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Add_AssetType))
                            {
                                <a style="font-weight:800;color: crimson" href="" id="createNew">Create New</a>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden="hidden">
                                @Html.HiddenFor(s => item.AssetTypeID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetTypeName)
                            </td>
                            <td>
                                @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Update_AssetType))
                                {
                                    <a href="" id="showAssetTypeForUpdate">Show</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Add_AssetType))
        {
            <div class="modal fade" id="mdlAssetTypeInsert" role="dialog" style="overflow:auto">
                <div class="modal-dialog modal-lg" style="width:45%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="btnInsertAssetTypeModalClose" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add AssetType Information</h4>
                        </div>
                        <div class="modal-body panel-body">

                            <div class="form-group col-sm-12">
                                <div>
                                    @Html.Label("Asset Type Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
                                    @*<span class="required_field col-md-1" style="padding-left:5px; float:left;"> *</span>*@
                                    <div class="col-md-8" style="padding-left: 0px;float:left">
                                        @Html.TextBox("AssetTypeName", null, new { @class = "form-control input-sm col-sm-11", @placeholder = "AssetType Name " })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <div id="PopUp" style="float:right">
                                <input type="button" id="btnPopUpAssetTypeInsertClose" value="Close" class="btn btn-default btn-sm" />
                                <input type="button" id="btnInsertAssetType" value="Save AssetType " class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>}
        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Update_AssetType))
        {
            <div class="modal fade" id="mdlAssetTypeUpdate" role="dialog" style="overflow:auto">
                <div class="modal-dialog modal-lg" style="width:45%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="btnUpdateAssetTypeModalClose" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update AssetType Information</h4>
                        </div>
                        <div class="modal-body panel-body">
                            @Html.Partial("Partial_AssetType")

                        </div>
                        <div class="modal-footer">
                            <div id="PopUp" style="float:right">
                                <input type="button" id="btnPopUpAssetTypeUpdateClose" value="Close" class="btn btn-default btn-sm" />
                                <input type="button" id="btnUpdateAssetType" value="Update AssetType " class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>}


    </div>
</div>
