@*@model ISP_ManagementSystemModel.ViewModel.VM_Asset_ClientDetails*@
@{
    ViewBag.Title = "Submitted Bill By Employee";
}
<head>
    <script src="~/Scripts/CustomScripts/SubmittedBillByEmployeeManager.js"></script>
</head>

<style>
    .changetrbackground {
        background-color: #DFFBF0;
    }
</style>

<script>
    var table;
    var AssetID;
    var totalBill = 0;
    var txID;
    var rstID;
    $(document).ready(function () {
        $('#PaymentStartDate').datepicker({
            dateFormat: 'mm/dd/yy',
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true
        });
        $('#PaymentEndDate').datepicker({
            dateFormat: 'mm/dd/yy',
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true
        });

         table = $("#tblPaidBillByMe").DataTable
            ({
                "language":
                    {
                        "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                    },
                "processing": true,
                "serverSide": true,

                "ajax":
                    {
                        "url": "/Transaction/GetSubmittedBillByEmployee",
                        "type": "POST",
                        "dataType": "JSON",
                        data: function (d) {
                            d.EmployeeID = $("#EmployeeID").val();
                            d.PaymentStartDate = $("#PaymentStartDate").val();
                            d.PaymentEndDate = $("#PaymentEndDate").val();
                            d.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
                        },
                        dataFilter: function (reps) {
                            totalBill = 0;
                            $("#divTotalBill").text(totalBill);
                            //if (searchBySearchButton !== 1) {

                            //    TransactionManager.GetBillsListBySearchCriteria();
                            //}
                            //searchBySearchButton = 0;
                            //console.log(reps);
                            return reps;
                        },
                        //success: function (msg) {
                        //
                        //    fnCallback(msg);
                        //    console.log(msg);
                        //   // $("#sample_1").find("tbody").html(msg.data);
                        //  //  $("#sample_1_processing").hide();
                        //   // Init();
                        //}
                    },

            @*@if (item.Due > 0) {

            <td><a href="" id="linkOfShowingDueAmount">@item.Due</a></td>

        }
        else {
            <td style="color:blue">0</td>
        }*@

        //https://stackoverflow.com/questions/11256864/jquery-datatables-actionlink-how-to-add
        "columnDefs": [
            { "targets": [0], "data": "TransactionID", "render": function (data, type, row, meta) { return "<td hidden><input type='hidden' id='tid' name='TransactionID' value=" + row.TransactionID + "></td>" } },
            { "targets": [11], "style": "align='center'", "data": "Action", "render": function (data, type, row, meta) { return (row.ShowDeleteButton === true ) ? ' <button id="btnDelete" type="button" class="btn btn-danger btn-sm padding" data-placement="top" data-toggle="modal" data-target="#popModalForDeletePermently"> <span class="glyphicon glyphicon-remove"></span> </button> ' : "" } }
        ],

                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    //console.log(nRow);
                    //totalBill += aData.PaidAmount;
                    $("#divTotalBill").text(aData.TotalAmount);

                    if (aData.IsPriorityClient) {
                        $(nRow).removeClass('odd');
                        $(nRow).addClass('changetrbackground');
                    }
                    else {
                        //$(nRow).removeClass('changetrbackground');
                        $(nRow).removeClass('changetrbackground');
                    }
                    $(nRow).find("td:eq(0)").attr("hidden", true);
                    $(nRow).find("td:eq(2)").attr("color", "blue");
                    $(nRow).find("td:eq(7)").css("color", "blue");
                    $(nRow).find("td:eq(8)").css("color", "blue");
                    $(nRow).find("td:eq(10)").css("color", "green");
                    $(nRow).find("td:eq(10)").css("font-weight", "bold");
                    $(nRow).find("td:eq(10)").css("text-align", "center");
                    return nRow;
                },

                "columns": [
                    {
                        "data": ""
                    },
                    {
                        "data": "LoginID"
                    },
                    {
                        "data": "ClientName"
                    },
                    {
                        "data": "Address"
                    },
                    {
                        "data": "ContactNumber"
                    },
                    {
                        "data": "ZoneName"
                    },
                    //{
                    //    "data": "PackageName"
                    //},
                    //{
                    //    "data": "FeeForThisMonth"
                    //},
                    {
                        "data": "PaidAmount"
                    },
                    {
                        "data": "PaymentType"
                    },
                    //{
                    //    "data": "Discount"
                    //},
                    //{
                    //    "data": "CollectBy"

                    //},
                    {     // fifth column (Edit link)
                        "data": "PaidTime"

                    },
                    //{     // fifth column (Edit link)
                    //    "data": "RemarksNo"

                    //},
                    {     // fifth column (Edit link)
                        "data": "ReceiptNo"
                    },
                    {     // fifth column (Edit link)
                        "data": "PaymentBy"
                    },
                    {     // fifth column (Edit link)
                        "data": ""
                    }
                ]
            });

        $("#btnSearch").click(function () {
            if (ValidationForSubmittedBillSearch()) {
                table.draw();
            }

        });

        $("#tblPaidBillByMe>tbody").on("click", "#btnDelete", function () {
            txID = $(this).closest("tr").find("td:eq(0) input").val();
            rstID = $(this).closest("tr").find("td:eq(9)").text();
            //AppUtil.ShowSuccess(txID,rstID);
        })

        //$("#btnDeleteTransctionPermently").click(function () {
        //    debugger;
        //    SubmittedBillByEmployeeManager.RemovePaymentFromPH(txID, rstID);
        //});
    });

    function ValidationForSubmittedBillSearch() {


        if (AppUtil.GetIdValue("PaymentStartDate") === '' ) {
            AppUtil.ShowSuccess("Please Select Payment Start Date. ");
            return false;
        }
        if (AppUtil.GetIdValue("PaymentEndDate") === '' ) {
            AppUtil.ShowSuccess("Please Select Payment End Date. ");
            return false;
        }

        return true;
    }
</script>

@Html.AntiForgeryToken()

@using (Html.BeginForm())
{
    <div class="container col-sm-12" style="padding-left: 0px; padding-top:0%;">
        <div class="panel panel-default">
            <div class="panel-heading">

                <section class="content-header">
                    <h6 class="panel-title">Search Bill By Date</h6>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Bill Payment By Employee</a></li>
                    </ol>
                </section>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-12">

                    <div class="form-group col-sm-4">
                        <div>
                            @Html.Label("Search By Employee", new { @class = "control-label col-md-0", Style = "float:left" })
                            <span class="required_field col-md-0" style="padding-left:5px"> *</span>
                        </div>
                        <div style="clear:both"> </div>
                        <div class="col-md-11" style="padding-left: 0px;">
                            @Html.DropDownList("EmployeeID", null, "-- Search By --", new { @class = "form-control input-sm col-sm-6" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div>
                            @Html.Label("Payment Start Date", null, new { @class = "control-label col-md-0", Style = "float:left" })
                        </div>
                        <div style="clear: both"> </div>
                        <div class="col-md-11" style="padding-left: 0px;">
                            @Html.TextBox("PaymentStartDate", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Payment Start Date " })
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <div>
                            @Html.Label("Payment End Date", null, new { @class = "control-label col-md-0", Style = "float:left" })
                        </div>
                        <div style="clear: both"> </div>
                        <div class="col-md-11" style="padding-left: 0px;">
                            @Html.TextBox("PaymentEndDate", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Payment End Date " })
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <div style="float: left;margin-top: 25px;">
                            <input type="button" id="btnSearch" value="Search By Date" class="btn btn-primary btn-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading ">
                <h4 class="panel-title ">Bills List:  Amount: <text id="divTotalBill"></text></h4>
            </div>
            @*<input type="button" class="btn btn-primary btn-sm" id="btnExportExcel" value="Export Excel" />*@
            <div class="panel-body" style="overflow:auto">
                <table id="tblPaidBillByMe" class="table table-bordered table-hover table-responsive" style="align-content: center; width: 100%">
                    <thead>
                        <tr>
                            <th hidden="hidden"></th>
                            <th style="padding:10px;">Login_ID</th>
                            <th style="padding:10px;">Client Name</th>
                            <th style="padding-left:100px;padding-right:100px;">Address</th>
                            <th style="padding:10px;">Mobile</th>
                            <th style="padding-left:45px;padding-right:45px;">Zone</th>
                            @*<th style="padding:10px;">Package</th>
                                <th style="padding:10px;">This Month Fee</th>*@
                            <th style="padding:10px;">Paid Amount</th>
                            <th style="padding:10px;">Type</th>
                            @*<th style="padding:10px;">Discount</th>
                                <th style="padding:10px;">Collect By</th>*@
                            <th style="padding-left:35px;padding-right:35px;">Paid Time</th>
                            @*<th style="padding:10px;">Remarks</th>*@
                            <th style="padding:10px; ">Receipt No</th>
                            <th style="padding:10px;">Payment BY</th>
                            <th style="padding:10px;">Delete</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div> 
}

