
@{
    ViewBag.Title = "Index";
}


@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">

        <section class="content-header">
            <h6 class="panel-title">Company List</h6>
            <ol class="breadcrumb">
                <li class="active"><a href="/Company/index"><i class="fa fa-dashboard"></i> Company</a></li>

            </ol>
        </section>
    </div>
    <div class="panel-body">
        <table id="tblCompany" class="table table-bordered table-hover table-responsive table-striped" style="align-content: center; width: 100%;">
            <thead>
                <tr>
                    <th hidden="hidden"></th>
                    <th>
                        @Html.DisplayName("Logo")
                    </th>
                    <th>
                        @Html.DisplayName("Company Name")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Address")
                    </th>
                    <th>
                        @Html.DisplayName("Contact Person")
                    </th>
                    <th>
                        @Html.DisplayName("Phone")
                    </th>
                    <th>
                        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Create_Company))
                        {
                            <a href="#" style="font-weight:800;color: crimson" id="createNew">Create New</a>
                        }
                    </th>
                </tr>
            </thead>

        </table>

        @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Create_Company))
            {
                <div class="modal fade" id="mdlCompanyInsert" role="dialog" style="overflow: auto" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg" style="width: 75%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="btnInsertClose" type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Insert Company</h4>
                            </div>
                            <div class="modal-body panel-body">
                                @Html.Partial("_Partial_InsertCompany")
                            </div>
                            <div class="modal-footer">
                                <div id="PopUp" style="float: right">
                                    <input type="button" id="btnPopUpInsertClose" value="Close" class="btn btn-default btn-sm" />
                                    <input type="button" id="btnInsertConfirm" value="Save" class="btn btn-primary btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Update_Company))
            {
                <div class="modal fade" id="mdlCompanyUpdate" role="dialog" style="overflow: hidden; overflow-y: scroll;" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg" style="width: 75%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="updateModalClose" type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Update Company</h4>
                            </div>
                            <div class="modal-body panel-body">
                                @Html.Partial("_PartialUpdateCompany")
                            </div>
                            <div class="modal-footer">
                                <div id="PopUp" style="float: right">
                                    <input type="button" id="btnPopUpUpdateClose" value="Close" class="btn btn-default btn-sm" />
                                    <input type="button" id="btnUpdateConfrim" value="Update" class="btn btn-primary btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ISP_ManagementSystemModel.AppUtils.HasAccessInTheList(ISP_ManagementSystemModel.AppUtils.Delete_Company))
            {
                <div class="modal fade" id="mdlCompanyDelete" role="dialog" style="overflow: hidden; overflow-y: scroll;" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg" style="width: 45%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button id="DeleteModalClose" type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Company</h4>
                            </div>
                            <div class="modal-body panel-body">
                                Are You Sure to delete? No data can be recover in future.
                            </div>
                            <div class="modal-footer">
                                <div id="PopUp" style="float: right">
                                    <input type="button" id="btnPopUpDeleteClose" value="Close" class="btn btn-default btn-sm" />
                                    <input type="button" id="btnDeleteConfirm" value="Delete" class="btn btn-danger btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }




    </div>
</div>
<script src="~/Scripts/CustomScripts/CompanyManager.js"></script>
<script src="~/Scripts/CustomScripts/ImageManager.js"></script>
<script>
    var _CompanyID;
    var table;
    var index;
    $(document).ready(function () {

        table = $("#tblCompany").DataTable
            ({
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "processing": true,
                "serverSide": true,

                "ajax":
                {
                    "url": "/Company/GetAllCompanyAjaxData",
                    "type": "POST",
                    "dataType": "JSON",
                    data: function (d) {
                        d.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
                    }
                },
                //https://stackoverflow.com/questions/11256864/jquery-datatables-actionlink-how-to-add
                "columnDefs": [
                    { "targets": [0], "width": "5%" },
                    { "targets": [0], "data": "CompanyID", "render": function (data, type, row, meta) { return "<td hidden><input type='hidden' id='CompanyID' name='CompanyID' value=" + row.CompanyID + "></td>" } },
                    { "targets": [1], "width": "5%","style": "align='center'", "orderable": false, "data": "Action", "render": function (data, type, row, meta) { return '<img src='+row.CompanyLogoPath+' /*class="img-circle"*/ height="50" width="50"/>' } },
                    { "targets": [7], "style": "align='center'", "orderable": false, "data": "Action", "render": function (data, type, row, meta) { return row.UpdateCompany === true ? '<a href="#" id="showCompanyForUpdate" class="glyphicon glyphicon-edit btn-circle btn-default"></a><a href="" id="showCompanyForDelete" class="glyphicon glyphicon-remove btn-circle btn-default"></a>' : "" } }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).find("td:eq(0)").attr("hidden", true);
                    return nRow;
                },

                "columns": [
                    {
                        "data": "CompanyID"
                    },
                    {
                        "data": ""
                    },
                    {
                        "data": "CompanyName"
                    },
                    {
                        "data": "CompanyEmail"
                    },
                    {
                        "data": "CompanyAddress"
                    },
                    {
                        "data": "ContactPerson"
                    },
                    {
                        "data": "Phone"
                    },
                    {
                        "data": ""
                    }
                ]
            });

        $("#tblCompany").on("click", "#showCompanyForUpdate", function (e) {
            e.preventDefault();
            _CompanyID = $(this).closest("tr").find("td:eq(0) input").val();
            CompanyManager.GetCompanyDetailsByID(_CompanyID);
        });

        $("#tblCompany").on("click", "#showCompanyForDelete", function (e) {
            e.preventDefault();
            _CompanyID = $(this).closest("tr").find("td:eq(0) input").val();
            $("#mdlCompanyDelete").modal("show");
        });

        $("#createNew").click(function (e) {
            e.preventDefault();
            $("#mdlCompanyInsert").modal("show");
        });

        $("#btnInsertClose,#btnPopUpInsertClose").click(function (e) {
            CompanyManager.clearForSaveVendorInformation();
            $("#mdlCompanyInsert").modal("hide");
        });

        $("#btnInsertConfirm").click(function (e) {
            if (CompanyManager.CreateValidation() === true) {
                CompanyManager.InsertCompanyFromPopUp();
            }
        });

        $("#updateModalClose,#btnPopUpUpdateClose").click(function () {
            $("#mdlCompanyUpdate").modal("hide");
        });

        $("#btnUpdateConfrim").click(function () {
            CompanyManager.UpdateCompanyInformation(_CompanyID);
        });

        $("#DeleteModalClose,#btnPopUpDeleteClose").click(function () {
            $("#mdlCompanyDelete").modal("hide");
        });

        $("#btnDeleteConfirm").click(function () {
            CompanyManager.DeleteCompanyFromPopUp(_CompanyID);
        });

    });

</script>